<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>sit.int303.spe.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>UpdateCustomer</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>PageA</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>PageB</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>PageC</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>sit.int303.spe.servlet.SearchCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>sit.int303.spe.servlet.UpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageA</servlet-name>
        <servlet-class>sit.int303.spe.servlet.PageA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageB</servlet-name>
        <servlet-class>sit.int303.spe.servlet.PageB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageC</servlet-name>
        <servlet-class>sit.int303.spe.servlet.PageC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>sit.int303.spe.servlet.EditCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/SearchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/InsertNewCustomer</url-pattern>
        <url-pattern>/UpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageA</servlet-name>
        <url-pattern>/PageA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageB</servlet-name>
        <url-pattern>/PageB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageC</servlet-name>
        <url-pattern>/PageC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
